html{
  background-color:black;
}

body {
  background: rgb(255,255,255, 0.8);
  font-family: Arial;
  padding: 20px 100px;
  margin: 50px auto;
  border-radius: 25px;
  width:1000px;
}

div {
 
  padding: 40px 100px;
  margin-left: -50px;
  border-radius: 15px;
 

}

img {
  display: block;
  margin: auto;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-family: Verdana;
}

.input-label {
  margin-bottom: 0;
}

button {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 1.5rem;
  font-size: 20px;
  background: #0d1973;
  color: white;
  cursor: pointer;
}

span,
.required {
  color: red;
}

a {
  color: #0d1973;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#sign-in-div {
  display: none;
}

button {
  width:100px;
  border-radius: 15px;
  font-size: 15px;
}

#musicFind {
  width: 300px;
}

#musicBody {
  text-align: center;
}

#addBtn {
  margin-right: -750px;
  background-color: grey;
  
}

#output div{
  border: 1px solid grey;
  padding: 10px;
  width: 360px;
  
}

#gobackBtn {
  margin-right: -750px;
  background-color: grey;
  
}

input{
  width: 300px;
}

#addSong{
  width:300px;
  height:40px;
  font-size: 20px;
}

#remove {
  background-color: red;
  width: 70px;

}